[Unit]
Description=Reapply Carbonio Admin PT-BR translation after updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=1min
Unit=carbonio-custom-ptbr-admin-i18n.service

[Install]
WantedBy=timers.target
